.difficulty_container {
    background: $main-background;
    width: $screen-width;
    height: $screen-height;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_difficulty {
    padding-bottom: 67px;
    display: flex;
    gap: 24px;

    &_element {
        font-size: $difficult-font-size;
        width: $difficult-element-size;
        height: $difficult-element-size;
        background-color: $third-background;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $difficult-text-color;
    }
}

.information_window {
    padding-top: 52px;
    padding-bottom: 48px;
}

.heading {
    margin-bottom: 48px;
}