.game-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.game-items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;
  justify-items: center;
  box-sizing: border-box;
  width: 975px;
}

.game-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 975px;
  height: 91px;
}

.game-timer {
  display: flex;
  flex-flow: column;
  width: 155px;
  color: $main-text-color;
  font-size: 64px;
  line-height: 72px;
}

.timer-wrapper {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  text-align: center;
}

.timer-title-sec,
.timer-title-min {
  font-size: 16px;
  line-height: 32px;
  text-align: right;
}
