.game-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.game-items {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 15px;
    width: 975px;
}

.game-top {
    width: 975px;
    display: flex;
    justify-content: space-between;
    align-items: auto;
    margin-top: 22px;
}

.game-timer {
    width: 155px;
    height: 91px;
    font-size: 64px;
    line-height: 72px;
    color: $main-text-color;
}

.game-timer-minutes {
    display: inline-block;

    &::after {
        content: '.';
    }
}

.game-timer-seconds {
    display: inline-block;
}