.popup-wrapper {
    width: $popup-wrapper-width;
    height: $popup-wrapper-height;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list {
    padding-bottom: 67px;
    display: flex;
    gap: 24px;

    &-item {
        font-size: $button-list__item-font-size;
        width: $button-list__item-element-size;
        height: $button-list__item-element-size;
        background-color: $third-background;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $button-list__item-text-color;
    }

    &-item input[type='radio'] {
        display: none;
    }

    &-item label {
        display: inline-block;
        cursor: pointer;
        // user-select: none;
    }

    &-item input[type='radio']:checked + label {
        scale: 125%;
    }
}

.popup {
    padding-top: 52px;
    padding-bottom: 48px;
    background: $secondary-background;
    width: $popup-width;
    height: $popup-height;
    border-radius: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    box-sizing: border-box; 
}

.popup-title {
    margin-bottom: 48px;
    font-size: $popup__title-font-size;
    color: $popup__title-color;
    line-height: 48px;
}