.popup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-list {
  display: flex;
  gap: 24px;
  padding-bottom: 67px;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-list__item-element-size;
    height: $button-list__item-element-size;
    color: $button-list__item-text-color;
    font-size: $button-list__item-font-size;
    background-color: $third-background;
    border-radius: $border-radius;
  }

  &-item input[type='radio'] {
    display: none;
  }

  &-item label {
    display: inline-block;
    cursor: pointer;
  }

  &-item input[type='radio']:checked + label {
    scale: 125%;
  }
}

.popup {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-sizing: border-box;
  width: $popup-width;
  height: $popup-height;
  padding-top: 52px;
  padding-bottom: 48px;
  text-align: center;
  background: $secondary-background;
  border-radius: 12px;
}

.popup-title {
  margin-bottom: 48px;
  color: $popup__title-color;
  font-size: $popup__title-font-size;
  line-height: 48px;
}
