//fonts
@font-face {
  font-family: 'StratosSkyeng Regular';
  src: url('/fonts/stratosskyengweb-regular.woff2') format('woff2'),
    url('/fonts/stratosskyengweb-regular.woff') format('woff');
}

@font-face {
  font-family: 'StratosSkyeng Medium';
  src: url('/fonts/stratosskyengweb-medium.woff2') format('woff2'),
    url('/fonts/stratosskyengweb-medium.woff') format('woff');
}

$font-family-regular: 'StratosSkyeng Regular';
$font-family-medium: 'StratosSkyeng Medium';

//backgrounds
$main-background: #004980;
$secondary-background: #c2f5ff;
$buttons-background: #7ac100;
$third-background: #fff;

//font sizes
$popup__title-font-size: 40px;
$button-font-size: 24px;
$button-list__item-font-size: 64px;

//width
$popup-width: 480px;
$button-width: 246px;
// $popup-wrapper-width: 100vw;

//heights
// $popup-wrapper-height: 100vh;
$popup-height: 459px;
$button-height: 50px;

//text colors
$button-list__item-text-color: #0080c1;
$main-text-color: #fff;
$popup__title-color: #004980;

//sizes
$border-radius: 12px;
$button-list__item-element-size: 98px;
