@import "vars";
@import "start-page";
@import "game-page";

* {
    margin: 0;
    padding: 0;
    font-family: $font-family-regular,sans-serif;
}

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
}

.container {
    background: $main-background;
    box-sizing: border-box;
}

.button {
    background: $buttons-background;
    width: $button-width;
    height: $button-height;
    color: $main-text-color;
    border: none;
    border-radius: $border-radius;
    font-size: $button-font-size;
}